<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="cn.edu.nju.vo.OrderVO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="student_id" jdbcType="INTEGER" property="userId" />
        <result column="service_id" jdbcType="INTEGER" property="serviceId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="student_status" jdbcType="INTEGER" property="studentStatus" />
        <result column="teacher_status" jdbcType="INTEGER" property="teacherStatus" />

        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="company" jdbcType="VARCHAR" property="company" />

        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="reserve_address" jdbcType="VARCHAR" property="reserveAddress" />
        <result column="reserve_time" jdbcType="TIMESTAMP" property="reserveTime" />
        <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
        <result column="service_type_id" jdbcType="INTEGER" property="serviceTypeId" />
        <result column="major_type_id" jdbcType="INTEGER" property="majorTypeId" />

        <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
        <result column="professor_name" jdbcType="VARCHAR" property="professorName" />
        <result column="major" jdbcType="VARCHAR" property="professorMajor" />
        <result column="school" jdbcType="VARCHAR" property="professorSchool" />

    </resultMap>

    <insert id="saveOrder">
        insert into `order` (student_id, service_id)
        values (#{studentId}, #{serviceId})
    </insert>

    <select id="getOrderList" resultMap="BaseResultMap">
        SELECT o.*, ser.*, stu.*, u.icon_url, u.name professor_name, u.major, u.school
        from `order` o, `service` ser,  `student` stu, `user` u
        WHERE o.student_id = #{userId} AND o.service_id = ser.id AND o.student_id = stu.id
        AND ser.professor_id = u.id
    </select>

    <select id="getOrderListByUserIdAndServiceId" resultMap="BaseResultMap">
        SELECT o.*, ser.*, stu.*, u.icon_url, u.name professor_name, u.major, u.school
        from `order` o, `service` ser,  `student` stu, `user` u
        WHERE o.student_id = #{userId} AND o.service_id = #{serviceId} AND
        o.service_id = ser.id AND o.student_id = stu.id AND ser.professor_id = u.id
    </select>

    <select id="getAllOrder" resultMap="BaseResultMap">
        SELECT * from `order`, `service`, `student`, `user` WHERE  order.service_id = service.id AND
        order.student_id = student.id AND service.professor_id = user.id
    </select>

    <select id="getOrderUsers" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT student_id FROM `order` where service_id=#{serviceId}
    </select>

    <delete id="deleteOrderById">
        DELETE FROM `order` WHERE id=#{orderId}
    </delete>

    <update id="updateOrder" parameterType="cn.edu.nju.vo.OrderModifyVO">
        update `order`
        <set>
            <if test="userId != null">
                student_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="serviceId != null">
                service_id = #{serviceId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateOrderStudentStatus" >
        update `order`
        <set>
            <if test="orderStatus != null">
                student_status = #{orderStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{orderId}
    </update>

    <update id="updateOrderTeacherStatus" >
        update `order`
        <set>
            <if test="orderStatus != null">
                teacher_status = #{orderStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{orderId}
    </update>

</mapper>