<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="cn.edu.nju.vo.OrderVO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="service_id" jdbcType="INTEGER" property="serviceId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />

        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="reserve_address" jdbcType="VARCHAR" property="reserveAddress" />
        <result column="reserve_time" jdbcType="TIMESTAMP" property="reserveTime" />
        <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
        <result column="service_type_id" jdbcType="INTEGER" property="serviceTypeId" />
        <result column="major_type_id" jdbcType="INTEGER" property="majorTypeId" />

        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="website" jdbcType="VARCHAR" property="website"/>
        <result column="icon_url" jdbcType="VARCHAR" property="iconUrl"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="research_interest" jdbcType="VARCHAR" property="researchInterest"/>
        <result column="first_name" jdbcType="VARCHAR" property="firstName"/>
        <result column="family_name" jdbcType="VARCHAR" property="familyName"/>
        <result column="institude_rank" jdbcType="INTEGER" property="institudeRank"/>

    </resultMap>

    <insert id="saveOrder">
        insert into `order` (user_id, service_id)
        values (#{userId}, #{serviceId})
    </insert>

    <select id="getOrderList" resultMap="BaseResultMap">
        SELECT * from `order`, `service`, `user` WHERE order.user_id = #{userId} AND order.service_id = service.id
        AND service.professor_id = user.id
    </select>

    <select id="getAllOrder" resultMap="BaseResultMap">
        SELECT * from `order`, `service`, `user` WHERE  order.service_id = service.id AND service.professor_id = user.id
    </select>

    <select id="getOrderUsers" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT user_id FROM `order` where service_id=#{serviceId}
    </select>

    <delete id="deleteOrderById">
        DELETE FROM `order` WHERE id=#{orderId}
    </delete>

    <update id="updateOrder" parameterType="cn.edu.nju.vo.OrderModifyVO">
        update `order`
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="serviceId != null">
                service_id = #{serviceId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTMAP},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>