<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.ServiceMapper">
    <resultMap id="BaseResultMap" type="cn.edu.nju.vo.ServiceVO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="professor_id" jdbcType="INTEGER" property="professorId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="reserve_address" jdbcType="VARCHAR" property="reserveAddress" />
        <result column="reserve_time" jdbcType="TIMESTAMP" property="reserveTime" />
        <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    </resultMap>

    <insert id="insertService">
        insert into service (professor_id, title, reserve_address,
        reserve_time, deadline, service_type_id, major_type_id)
        values (#{professorId}, #{title}, #{reserveAddress},
        #{reserveTime}, #{deadline}, #{serviceTypeId}, #{majorTypeId})
    </insert>

    <select id="getServiceList" resultMap="BaseResultMap">
        SELECT * from `service` LIMIT #{startPos},#{num}
    </select>

    <select id="getServiceById" resultMap="BaseResultMap">
        SELECT * from `service` WHERE id=#{serviceId}
    </select>


</mapper>