<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.ServiceMapper">
    <resultMap id="BaseResultMap" type="cn.edu.nju.vo.ServiceVO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="professor_id" jdbcType="INTEGER" property="professorId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="reserve_address" jdbcType="VARCHAR" property="reserveAddress" />
        <result column="reserve_time" jdbcType="TIMESTAMP" property="reserveTime" />
        <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
        <result column="service_type_id" jdbcType="INTEGER" property="serviceTypeId" />
        <result column="major_type_id" jdbcType="INTEGER" property="majorTypeId" />
    </resultMap>

    <insert id="insertService">
        insert into service (professor_id, title, content, reserve_address,
        reserve_time, deadline, service_type_id, major_type_id, price)
        values (#{professorId}, #{title}, #{content}, #{reserveAddress},
        #{reserveTime}, #{deadline}, #{serviceTypeId}, #{majorTypeId}, #{price})
    </insert>

    <delete id="deleteService">
        DELETE FROM service WHERE id = #{serviceId}
    </delete>

    <select id="getServiceList" resultMap="BaseResultMap">
        SELECT * from `service` LIMIT #{startPos},#{num}
    </select>

    <select id="getServiceById" resultMap="BaseResultMap">
        SELECT * from `service` WHERE id=#{serviceId}
    </select>

    <select id="getServiceListByExpertId" resultMap="BaseResultMap">
        SELECT * from `service` WHERE professor_id=#{expertId}
    </select>

    <select id="getServiceListByTitle" resultMap="BaseResultMap">
        SELECT * from `service` WHERE `title` like concat('%',#{title},'%')
    </select>

    <select id="getServiceListByContent" resultMap="BaseResultMap">
        SELECT * from `service` WHERE `content` like concat('%',#{content},'%')
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) from `service`
    </select>

</mapper>