<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nju.vo.StudentVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wechat_id" jdbcType="VARCHAR" property="wechatId" />
    <result column="wechat_icon_url" jdbcType="VARCHAR" property="wechatIconUrl" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="company" jdbcType="VARCHAR" property="company" />
  </resultMap>
  <sql id="Base_Column_List">
    id, wechat_id, wechat_icon_url, name, phone, email, company
  </sql>

  <select id="selectByWechatId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * from student where wechat_id=#{wechatId}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>


  <insert id="insertSelective" parameterType="cn.edu.nju.vo.StudentVO">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="wechatId != null">
        wechat_id,
      </if>
      <if test="wechatIconUrl != null">
        wechat_icon_url,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="company != null">
        company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="wechatId != null">
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="wechatIconUrl != null">
        #{wechatIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cn.edu.nju.vo.StudentVO">
    update student
    <set>
      <if test="wechatIconUrl != null">
        wechat_icon_url = #{wechatIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
    </set>
    where wechat_id = #{wechatId,jdbcType=INTEGER}
  </update>

</mapper>