<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nju.vo.UserVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="research_interest" property="researchInterest"/>
    <result column="first_name" property="firstName"/>
    <result column="family_name" property="familyName"/>
    <result column="institude_rank" property="institudeRank"/>
    <result column="major_rank" property="majorRank"/>
  </resultMap>

  <select id="selectRandomUsers" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT * FROM user as t1 WHERE t1.id>=
      ((SELECT MIN(id) FROM user)+(RAND()*((SELECT MAX(id) FROM user)-(SELECT MIN(id) FROM user))))
      LIMIT #{num}
  </select>

  <select id="selectUser" resultMap="BaseResultMap">
    SELECT * FROM `user` ORDER by id limit #{start},#{pageSize}
  </select>

  <select id="selectSortedUser" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from `user` order by `sort` desc limit #{count}
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    SELECT count(*) FROM `user`
  </select>

  <select id="selectCountry" resultType="java.lang.String">
    SELECT DISTINCT country FROM `user`
  </select>

  <select id="selectPosition" resultType="java.lang.String">
    SELECT DISTINCT `position` FROM `user`
  </select>

  <select id="selectInstitude" resultType="java.lang.String">
    select DISTINCT `school` from `user` limit 100
  </select>

  <select id="selectUserById" resultMap="BaseResultMap">
    SELECT * from `user` where id = #{id}
  </select>

  <select id="selectUserByInfo" resultMap="BaseResultMap">
    SELECT * from `user`
    <where>
      <if test="name != '' ">
        (name LIKE concat('%', #{name}, '%') OR
        school LIKE concat('%', #{name}, '%') OR
        research_interest LIKE concat('%', #{name}, '%') OR
        major LIKE concat('%', #{name}, '%') )
      </if>
      <if test="nation != '' ">
        AND country = #{nation}
      </if>
      <if test="major != '' ">
        AND major LIKE concat('%',#{major},'%')
      </if>
      <if test="position != '' ">
        AND position LIKE concat('%',#{position},'%')
      </if>
    </where>
  </select>

  <select id="selectUserByUniversityRank" resultMap="BaseResultMap">
    SELECT `user`.* from `user`
    LEFT JOIN `institude_rank`
    ON `user`.school = `institude_rank`.institude
    <where>
      <if test="name != '' ">
        (name LIKE concat('%', #{name}, '%') OR
        school LIKE concat('%', #{name}, '%') OR
        research_interest LIKE concat('%', #{name}, '%') OR
        major LIKE concat('%', #{name}, '%') )
      </if>
      <if test="nation != '' ">
        AND country = #{nation}
      </if>
      <if test="major != '' ">
        AND major LIKE concat('%',#{major},'%')
      </if>
      <if test="position != '' ">
        AND position LIKE concat('%',#{position},'%')
      </if>
    </where>
    ORDER BY `institude_rank`.rank ASC
  </select>

  <select id="selectUserByUniversityRankLimit" resultMap="BaseResultMap">
    SELECT `user`.* from `user`
    LEFT JOIN `institude_rank`
    ON `user`.school = `institude_rank`.institude
    ORDER BY `institude_rank`.rank ASC
    limit #{startPos}, #{num}
  </select>

  <select id="selectUserByMajorRank" resultMap="BaseResultMap">
    SELECT `user`.* from `user`
    LEFT JOIN `major_rank`
    ON `user`.school = `major_rank`.institude
    AND `user`.major = `major_rank`.major
    <where>
      <if test="name != '' ">
        (name LIKE concat('%', #{name}, '%') OR
        school LIKE concat('%', #{name}, '%') OR
        research_interest LIKE concat('%', #{name}, '%') OR
        `user`.major LIKE concat('%', #{name}, '%') )
      </if>
      <if test="nation != '' ">
        AND country = #{nation}
      </if>
      <if test="major != '' ">
        AND major LIKE concat('%',#{major},'%')
      </if>
      <if test="position != '' ">
        AND position LIKE concat('%',#{position},'%')
      </if>
    </where>
    ORDER BY `major_rank`.rank ASC
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from user
    where id = #{id}
  </delete>

  <insert id="insertSelective" parameterType="cn.edu.nju.vo.UserVO">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="iconUrl != null">
        icon_url,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="country != null">
      country,
    </if>
      <if test="researchInterest != null">
        research_interest,
      </if>
      <if test="firstName != null">
      first_name,
    </if>
      <if test="familyName != null">
        family_name,
      </if>
      <if test="institudeRank != null">
        institude_rank,
      </if>
      <if test="majorRank != null">
        major_rank,
      </if>
      <if test="sort != null">
        `sort`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school},
      </if>
      <if test="major != null">
        #{major},
      </if>
      <if test="iconUrl != null">
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website},
      </if>
      <if test="country != null">
      #{country},
    </if>
      <if test="researchInterest != null">
        #{researchInterest},
      </if>
      <if test="firstName != null">
        #{firstName},
      </if>
      <if test="familyName != null">
        #{familyName},
      </if>
      <if test="institudeRank != null">
        #{institudeRank},
      </if>
      <if test="majorRank != null">
        #{majorRank},
      </if>
      <if test="sort != null">
        #{sort},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="cn.edu.nju.vo.UserVO">
    update `user`
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl!=null">
        icon_url=#{iconUrl},
      </if>
      <if test="website != null">
        website=#{website},
      </if>
      <if test="country != null">
        country=#{country},
      </if>
      <if test="researchInterest != null">
        research_interest=#{researchInterest},
      </if>
      <if test="firstName != null">
        first_name=#{firstName},
      </if>
      <if test="familyName != null">
        family_name=#{familyName},
      </if>
      <if test="institudeRank != null">
        institude_rank=#{institudeRank},
      </if>
      <if test="majorRank != null">
        major_rank=#{majorRank},
      </if>
      <if test="sort != null">
        `sort`=#{sort},
      </if>
    </set>
    where id = #{id}
  </update>

</mapper>